<!DOCTYPE html>
<html>
<head>
  <title>Inventory Application</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../header') %>
  <main>
    <% const item = locals.item || { name: "", description: "", quantity: "", category_id: "-1" }; %>
    <form action="<%= formAction %>" method="post">
        <h1><%= title %></h1>
        <%- include("../errors.ejs") %>
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="<%= item.name %>" required>
        </div>
        <div class="input">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" value="<%= item.description %>">
        </div>
        <div class="input">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity" value="<%= item.quantity %>" min="0" required>
        </div>
        <div class="input">
            <label for="category">Category</label>
            <select id="category" name="category" required>
                <% if (item.category_id == -1) { %>
                    <option value="-1" selected>None</option>
                <% } else { %>
                    <option value="-1">None</option>
                <% } %>
                
                <% categories.forEach(c => { %>
                    <% if (c.id === item.category_id) { %>
                        <option value="<%= c.id %>" selected><%= c.name %></option>
                    <% } else { %>
                        <option value="<%= c.id %>"><%= c.name %></option>
                    <% } %>
                <% }) %>
            </select>
        </div>
        <button type="submit"><%= title === "Edit item" ? "Update" : "Create" %></button>
    </form>
  </main>
</body>
</html>
