<!DOCTYPE html>
<html>
<head>
  <title>Inventory Application</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../header') %>
  <main>
    <% const category = locals.category || { name: "" }; %>
    <form action="<%= formAction %>" method="post">
        <h1><%= title %></h1>
        <%- include("../errors.ejs") %>
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="<%= category.name %>" required>
        </div>
        <button type="submit"><%= title === "Edit category" ? "Update" : "Create" %></button>
    </form>
  </main>
</body>
</html>
